*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/s/90371/ICARubrikBlack.woff');
@import url('https://fonts.cdnfonts.com/s/16009/Poppins-Regular.woff');

body{
    background-color: black;
}
.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner .slider{ 
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}

@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-15deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-15deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform:
    rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
     translateZ(550px);
}

.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.banner .content h1{
    font-family: 'ICA RUBRIK';
    font-size: 10em;
    line-height: 1em;
    color: #25283b;
    position: relative;
}

.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2PX #2d2d2d;
    color: transparent;
}

.banner .content .autor{
    font-family: 'POPPINS';
    text-align: center;
    max-width: 200px;
}

.banner .content h2{
    font-size: 1.8em;
    color: blue;
}

.banner .content p{
    color: white;
}

.banner .content .model{
    background-image: url(img/ft-14.1.png);
    width: 125%;
    height: 80vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}